$light-purple: rgb(128, 128, 219);
// $light-purple: rgb(102, 163, 110);
// $light-purple: rgb(104, 113, 240);
$white: rgb(236, 236, 236);

$high-temp-color: rgb(235, 137, 137);

$low-temp-color: rgb(127, 209, 241);