@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$light-purple: rgb(128, 128, 219);
// $light-purple: rgb(102, 163, 110);
// $light-purple: rgb(104, 113, 240);
$white: rgb(236, 236, 236);

$high-temp-color: rgb(235, 137, 137);

$low-temp-color: rgb(127, 209, 241);

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: black;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  z-index: 1;
  height: 100vh;
  transition: filter 1s;
}




.title-box {
  // filter: drop-shadow(0 1rem 2rem black);
  position: relative;
  z-index: 10;
  background-color: rgba($light-purple, 0.66);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 6.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 25%, 50% 100%, 0 25%);
  user-select: none;
  // box-shadow: 0 1rem 2rem 0 black;

  h1 {
    font-family: 'Pattaya', sans-serif;
    color: rgb(178, 230, 178);
    position: absolute;
    top: .55rem;
    font-size: 4.1rem;
    text-shadow: 1px 1px 5px black;
  }
}


.search-box {
  z-index: 15;
  position: absolute;
  top: 9.1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  width: 37rem;
  padding: .3rem .8rem;
  background-color: rgb(122, 122, 122);
  border: 1px solid rgb(192, 192, 192);
  color: white;
  border-radius: 14rem;
  box-shadow: 0 0 2.1rem 0 rgba(0, 0, 0, 0.3);

  &:focus {
    outline: none;
    box-shadow: 0 0 1.4rem 0 rgba(0, 0, 0, 0.452);
  }

  &::placeholder {
    color: rgb(185, 185, 185);
  }
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &__circle {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: $white;
    margin: .55rem;
    box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.281);
    animation-name: circleJump;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.7,.09,.43,.98);

    &--1 {
      animation-delay: 200ms;
    }

    &--2 {
      animation-delay: 350ms;
    }

    &--3 {
      animation-delay: 500ms;
    }
  }
}

@keyframes circleJump {

  30% {
    transform: translateY(-.55rem);
  }

  60% {
    transform: translateY(0);
  }
}

@import './popup';

@import './variables';




@media (max-width: 1300px) {
  .title-box h1 {
    font-size: 3.5rem;
  }

  
}

@media (max-width: 800px) {
  .title-box h1 {
    font-size: 2.8rem;
  }

  .search-box {
    font-size: 1.4rem;
    width: 28rem;
  }
}


